* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Add styles here! */
/* 8px units */
/* Font scales (from 18px)
  1rem
  1.25rem
  1.5rem
  2rem
  
  Colors
  green: hsl(160deg, 100%, 30%)
  gold-light: hsl(45deg, 100%, 50%)
  gold-dark: hsl(45deg, 100%, 40%)
  black: hsl(0deg, 0%, 0%)
  very dark gray: hsl(0deg, 0%, 10%)
  dark gray: hsl(0deg, 0%, 30%)
  medium gray: hsl(0deg, 0%, 40%)
  light gray: hsl(0deg, 0%, 60%)
  white: hsl(0deg, 0%, 100%)
  */

  .max-width-wrapper {
    padding-top: 48px;
  }

  div.max-width-wrapper {
    padding-bottom: 32px;
  }

  .intro-chunk {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  h1, 
  h2,
  p {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
  }
  h1 {
    font-size: 2em;
    padding-bottom: 24px;
  }

  p {
    padding-bottom: 24px;
  }

  .intro-chunk>p {
    font-size: 1.25rem;
    width: 400px;
  }

  strong {
    color: hsl(160deg, 100%, 30%);
    font-weight: bold;
  }

  main .max-width-wrapper {
    width: 100%;
    background-color: hsl(0deg, 0%, 60%);
    border-top: 8px hsl(0deg, 0%, 40%) solid;
    height:100%;
  }

  h2 {
    font-size: 1.25rem;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .indented-heading {
    background-color: hsl(45deg, 100%, 50%);
    border-bottom: hsl(45deg, 100%, 40%) 8px solid;
    margin-left: -8px;
    padding-left: 32px;
    max-width: fit-content;
  }

  .card {
    background-color: hsl(0deg, 0%, 100%);
    padding-top: 8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
  }

  .card>p {
    padding-top: 24px;
    padding-bottom: 0px;
  }

